body{
    min-width: 200;
    background-color: #e6ffe6;
}

h1{
    font-size: 32;
}

td {
    border-collapse: collapse;
    border: 1px solid black;
    border-spacing: 0cm;
    background-color: white;

}

th{
    padding: 0.25cm;
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 0cm;
}

thead{
    border-collapse: collapse;
    font-size: Larger;
    border-spacing: 0cm;
}

table{
    border-spacing: 0cm;
    border-collapse: collapse;
    border: 2px solid black;
}

.healthy{
    color: green;
}

.unhealthy{
    color: red;
}

h2{ 
    font-family: Arial, Helvetica, sans-serif;
}

#settings_text{
    float: left;
}

#settings{
    background-color: white;
    position: relative;
    bottom: 10px;
    padding: 0.10cm;
    float:right;
    display: inline-block;
}

thead{
    background-color: aquamarine;
}

#dietTitle{
    font-size: larger;
}